@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    @apply bg-primary text-white;
}

.gradient-color{
    background-image: linear-gradient(122deg,#fee4a5 15%,#9ae8b0 65%,#5ba5d0 90%,#9078d0);
    -webkit-mask-image: linear-gradient(122deg, #fee4a5 45%,#9ae8b0 65%,#5ba5d0 90%,#9078d0);
    -webkit-box-decoration-break: clone;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
